[submodule "src/third_party/PENF"]
	path = src/third_party/PENF
	url = https://github.com/szaghi/PENF
[submodule "src/third_party/BeFoR64"]
	path = src/third_party/BeFoR64
	url = https://github.com/szaghi/BeFoR64
